<!--<p>user-add works!</p>-->
<h3>Create user</h3>
  <form novalidate #f="ngForm" (ngSubmit)="onCreate(f)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" #name="ngModel"
      [class.is-danger]="name.touched && name.invalid" placeholder="name"
      required ngModel>
      <p class="help is-danger" *ngIf="name.touched && name.invalid">
            El nombre es requerido.
      </p>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel"
      [class.is-danger]="lastname.touched && lastname.invalid" placeholder="lastname"
      required ngModel>
      <p class="help is-danger" *ngIf="lastname.touched && lastname.invalid">
            El apellido es requerido.
      </p>
    </div>

    <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" class="form-control" id="email" name="email" #email="ngModel"
        [class.is-danger]="email.touched && email.invalid" placeholder="email"
        required ngModel>
        <p class="help is-danger" *ngIf="email.touched && email.invalid">
                El email es requerido.
        </p>
    </div>

    <div class="form-group">
        <label for="phone">Phone: </label>
        <input type="text" class="form-control" id="phone" name="phone" maxlength="7" #phone="ngModel"
        [class.is-danger]="phone.touched && phone.invalid" placeholder="phone"
        required ngModel>
        <p class="help is-danger" *ngIf="phone.touched && phone.invalid">
                El telefono es requerido. Debe contener maximo 7 numeros
        </p>
    </div>

    <div class="form-group">
         <label for="age">Age: </label>
        <input type="text" class="form-control" id="age" name="age" minlength="1" #age="ngModel"
        [class.is-danger]="age.touched && age.invalid" placeholder="age"
        required ngModel>
        <p class="help is-danger" *ngIf="age.touched && age.invalid">
                El telefono es requerido. Debe contener al menos 1 numero
        </p>
    </div>

    <div class="form-group">
        <label for="role">Role: </label>
        <input type="text" class="form-control" id="role" name="role" #role="ngModel"
        [class.is-danger]="role.touched && role.invalid" placeholder="role"
        required ngModel>
        <p class="help is-danger" *ngIf="role.touched && role.invalid">
                El role es requerido.
        </p>
    </div>

    <div class=" field has-text-centered ">
        <p class="help is-danger" *ngIf="error">{{ error }}</p>
    </div>

    <button class="btn btn-dark" (click)="goBack()">Go back</button>
    <button type="submit" class="btn btn-success" [disabled]="f.invalid">Submit</button>
  </form>

