<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.age}}</td>
            <td>{{user.role}}</td>
            <td>
                <button (click)="deleteUser(user.id)" class="btn btn-danger">Delete</button>
                <a routerLink="/update/{{user.id}}"><button class="btn btn-primary">Edit</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
 </div>